infra/modules/ai_enrichment/step_function_definition.json
{
  "Comment": "AI Enrichment Pipeline - 3-pass job enrichment with semaphore concurrency control and retry logic",
  "StartAt": "AcquireLock",
  "States": {
    "AcquireLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${semaphore_table}",
        "Key": {
          "LockName": {"S": "ProcessingLock"}
        },
        "UpdateExpression": "SET currentlockcount = if_not_exists(currentlockcount, :zero) + :one, #execId = :timestamp",
        "ConditionExpression": "attribute_not_exists(currentlockcount) OR currentlockcount < :maxcount",
        "ExpressionAttributeNames": {
          "#execId.$": "$$.Execution.Name"
        },
        "ExpressionAttributeValues": {
          ":zero": {"N": "0"},
          ":one": {"N": "1"},
          ":maxcount": {"N": "${max_concurrent}"},
          ":timestamp": {"S.$": "$$.State.EnteredTime"}
        }
      },
      "ResultPath": "$.lockResult",
      "Next": "GetJobStatus",
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "IntervalSeconds": 3,
          "MaxAttempts": 100,
          "BackoffRate": 1.5,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "LockAcquisitionFailed"
        }
      ]
    },

    "LockAcquisitionFailed": {
      "Type": "Fail",
      "Error": "LockAcquisitionFailed",
      "Cause": "Could not acquire semaphore lock after retries"
    },

    "GetJobStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        }
      },
      "ResultPath": "$.statusResult",
      "Next": "EvaluatePasses",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseLockOnError"
        }
      ]
    },

    "EvaluatePasses": {
      "Type": "Choice",
      "Comment": "Route based on job status: new jobs process, completed skip, failed retry (up to max_retries)",
      "Choices": [
        {
          "Comment": "Force reprocessing - skip all cache checks",
          "And": [
            {
              "Variable": "$.force",
              "IsPresent": true
            },
            {
              "Variable": "$.force",
              "BooleanEquals": true
            }
          ],
          "Next": "ResetJobStatus"
        },
        {
          "Comment": "New job - Item doesn't exist in DynamoDB",
          "Not": {
            "Variable": "$.statusResult.Item",
            "IsPresent": true
          },
          "Next": "CreateOrUpdateJobStatus"
        },
        {
          "Comment": "Job COMPLETED - skip processing",
          "And": [
            {
              "Variable": "$.statusResult.Item",
              "IsPresent": true
            },
            {
              "Variable": "$.statusResult.Item.overallStatus.S",
              "StringEquals": "COMPLETED"
            }
          ],
          "Next": "AlreadyCompleted"
        },
        {
          "Comment": "Job FAILED with max retries reached - permanently failed",
          "And": [
            {
              "Variable": "$.statusResult.Item",
              "IsPresent": true
            },
            {
              "Variable": "$.statusResult.Item.overallStatus.S",
              "StringEquals": "FAILED"
            },
            {
              "Variable": "$.statusResult.Item.retryCount.N",
              "IsPresent": true
            },
            {
              "Variable": "$.statusResult.Item.retryCount.N",
              "StringGreaterThanEquals": "${max_retries}"
            }
          ],
          "Next": "PermanentlyFailed"
        },
        {
          "Comment": "Job FAILED with retries remaining - increment and reprocess",
          "And": [
            {
              "Variable": "$.statusResult.Item",
              "IsPresent": true
            },
            {
              "Variable": "$.statusResult.Item.overallStatus.S",
              "StringEquals": "FAILED"
            }
          ],
          "Next": "IncrementRetryAndReprocess"
        },
        {
          "Comment": "Job IN_PROGRESS - previous execution failed silently, reprocess",
          "And": [
            {
              "Variable": "$.statusResult.Item",
              "IsPresent": true
            },
            {
              "Variable": "$.statusResult.Item.overallStatus.S",
              "StringEquals": "IN_PROGRESS"
            }
          ],
          "Next": "ReprocessInProgress"
        }
      ],
      "Default": "AlreadyCompleted"
    },

    "AlreadyCompleted": {
      "Type": "Pass",
      "Result": {
        "message": "Job already fully processed"
      },
      "ResultPath": "$.skipReason",
      "Next": "ReleaseLock"
    },

    "PermanentlyFailed": {
      "Type": "Task",
      "Comment": "Mark job as permanently failed after max retries",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        },
        "UpdateExpression": "SET overallStatus = :permFailed, updatedAt = :now",
        "ExpressionAttributeValues": {
          ":permFailed": {"S": "PERMANENTLY_FAILED"},
          ":now": {"S.$": "$$.State.EnteredTime"}
        }
      },
      "ResultPath": "$.permFailedResult",
      "Next": "ReleaseLockPermanentlyFailed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseLockPermanentlyFailed"
        }
      ]
    },

    "ReleaseLockPermanentlyFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${semaphore_table}",
        "Key": {
          "LockName": {"S": "ProcessingLock"}
        },
        "UpdateExpression": "SET currentlockcount = currentlockcount - :one REMOVE #execId",
        "ConditionExpression": "attribute_exists(#execId) AND currentlockcount > :zero",
        "ExpressionAttributeNames": {
          "#execId.$": "$$.Execution.Name"
        },
        "ExpressionAttributeValues": {
          ":one": {"N": "1"},
          ":zero": {"N": "0"}
        }
      },
      "ResultPath": "$.releaseLockResult",
      "Next": "SuccessPermanentlyFailed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.releaseLockError",
          "Next": "SuccessPermanentlyFailed"
        }
      ]
    },

    "SuccessPermanentlyFailed": {
      "Type": "Succeed",
      "Comment": "Job exceeded max retries - not an execution error"
    },

    "IncrementRetryAndReprocess": {
      "Type": "Task",
      "Comment": "Increment retry count and reset status for reprocessing",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        },
        "UpdateExpression": "SET retryCount = if_not_exists(retryCount, :zero) + :one, overallStatus = :inProgress, pass1 = :pendingPass, pass2 = :pendingPass, pass3 = :pendingPass, updatedAt = :now, currentExecutionId = :execId",
        "ExpressionAttributeValues": {
          ":zero": {"N": "0"},
          ":one": {"N": "1"},
          ":inProgress": {"S": "IN_PROGRESS"},
          ":pendingPass": {"M": {"status": {"S": "PENDING"}}},
          ":now": {"S.$": "$$.State.EnteredTime"},
          ":execId": {"S.$": "$$.Execution.Name"}
        }
      },
      "ResultPath": "$.retryResult",
      "Next": "ExecutePass1",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseLockOnError"
        }
      ]
    },

    "ReprocessInProgress": {
      "Type": "Task",
      "Comment": "Reset IN_PROGRESS job for reprocessing - previous execution failed silently",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        },
        "UpdateExpression": "SET overallStatus = :inProgress, pass1 = :pendingPass, pass2 = :pendingPass, pass3 = :pendingPass, updatedAt = :now, currentExecutionId = :execId",
        "ExpressionAttributeValues": {
          ":inProgress": {"S": "IN_PROGRESS"},
          ":pendingPass": {"M": {"status": {"S": "PENDING"}}},
          ":now": {"S.$": "$$.State.EnteredTime"},
          ":execId": {"S.$": "$$.Execution.Name"}
        }
      },
      "ResultPath": "$.reprocessResult",
      "Next": "ExecutePass1",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseLockOnError"
        }
      ]
    },

    "ResetJobStatus": {
      "Type": "Task",
      "Comment": "Delete existing job status to force reprocessing from scratch",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        }
      },
      "ResultPath": "$.resetResult",
      "Next": "CreateOrUpdateJobStatus",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseLockOnError"
        }
      ]
    },

    "CreateOrUpdateJobStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Item": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"},
          "pass1": {"M": {"status": {"S": "PENDING"}}},
          "pass2": {"M": {"status": {"S": "PENDING"}}},
          "pass3": {"M": {"status": {"S": "PENDING"}}},
          "overallStatus": {"S": "PENDING"},
          "retryCount": {"N": "0"},
          "createdAt": {"S.$": "$$.State.EnteredTime"},
          "updatedAt": {"S.$": "$$.State.EnteredTime"},
          "currentExecutionId": {"S.$": "$$.Execution.Name"}
        },
        "ConditionExpression": "attribute_not_exists(job_posting_id)"
      },
      "ResultPath": "$.createResult",
      "Next": "ExecutePass1",
      "Catch": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "ResultPath": "$.createResult",
          "Next": "ExecutePass1"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseLockOnError"
        }
      ]
    },

    "ExecutePass1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${enrich_lambda_arn}",
        "Payload": {
          "pass_name": "pass1",
          "job_data.$": "$.job_data",
          "execution_id.$": "$$.Execution.Name"
        }
      },
      "ResultPath": "$.pass1Result",
      "ResultSelector": {
        "statusCode.$": "$.Payload.statusCode",
        "extraction.$": "$.Payload.extraction",
        "raw_response.$": "$.Payload.raw_response",
        "model_id.$": "$.Payload.model_id"
      },
      "Next": "UpdatePass1Status",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException", "Lambda.Unknown"],
          "IntervalSeconds": 3,
          "MaxAttempts": 10,
          "BackoffRate": 1.5,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkPass1Failed"
        }
      ]
    },

    "UpdatePass1Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        },
        "UpdateExpression": "SET pass1 = :pass1Status, overallStatus = :inProgress, updatedAt = :now",
        "ExpressionAttributeValues": {
          ":pass1Status": {
            "M": {
              "status": {"S": "COMPLETED"},
              "completedAt": {"S.$": "$$.State.EnteredTime"},
              "executionId": {"S.$": "$$.Execution.Name"},
              "model": {"S.$": "$.pass1Result.model_id"}
            }
          },
          ":inProgress": {"S": "IN_PROGRESS"},
          ":now": {"S.$": "$$.State.EnteredTime"}
        }
      },
      "ResultPath": "$.updatePass1Result",
      "Next": "ExecutePass2",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseLockOnError"
        }
      ]
    },

    "MarkPass1Failed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        },
        "UpdateExpression": "SET pass1 = :pass1Status, overallStatus = :failed, retryCount = if_not_exists(retryCount, :zero) + :one, updatedAt = :now",
        "ExpressionAttributeValues": {
          ":pass1Status": {
            "M": {
              "status": {"S": "FAILED"},
              "failedAt": {"S.$": "$$.State.EnteredTime"},
              "error": {"S.$": "$.error.Cause"}
            }
          },
          ":failed": {"S": "FAILED"},
          ":zero": {"N": "0"},
          ":one": {"N": "1"},
          ":now": {"S.$": "$$.State.EnteredTime"}
        }
      },
      "ResultPath": "$.markFailedResult",
      "Next": "ReleaseLockOnError"
    },

    "ExecutePass2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${enrich_lambda_arn}",
        "Payload": {
          "pass_name": "pass2",
          "job_data.$": "$.job_data",
          "pass1_result.$": "$.pass1Result.extraction",
          "execution_id.$": "$$.Execution.Name"
        }
      },
      "ResultPath": "$.pass2Result",
      "ResultSelector": {
        "statusCode.$": "$.Payload.statusCode",
        "inference.$": "$.Payload.inference",
        "raw_response.$": "$.Payload.raw_response",
        "model_id.$": "$.Payload.model_id"
      },
      "Next": "UpdatePass2Status",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException", "Lambda.Unknown"],
          "IntervalSeconds": 3,
          "MaxAttempts": 10,
          "BackoffRate": 1.5,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkPass2Failed"
        }
      ]
    },

    "UpdatePass2Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        },
        "UpdateExpression": "SET pass2 = :pass2Status, updatedAt = :now",
        "ExpressionAttributeValues": {
          ":pass2Status": {
            "M": {
              "status": {"S": "COMPLETED"},
              "completedAt": {"S.$": "$$.State.EnteredTime"},
              "executionId": {"S.$": "$$.Execution.Name"},
              "model": {"S.$": "$.pass2Result.model_id"}
            }
          },
          ":now": {"S.$": "$$.State.EnteredTime"}
        }
      },
      "ResultPath": "$.updatePass2Result",
      "Next": "ExecutePass3",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseLockOnError"
        }
      ]
    },

    "MarkPass2Failed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        },
        "UpdateExpression": "SET pass2 = :pass2Status, overallStatus = :failed, retryCount = if_not_exists(retryCount, :zero) + :one, updatedAt = :now",
        "ExpressionAttributeValues": {
          ":pass2Status": {
            "M": {
              "status": {"S": "FAILED"},
              "failedAt": {"S.$": "$$.State.EnteredTime"},
              "error": {"S.$": "$.error.Cause"}
            }
          },
          ":failed": {"S": "FAILED"},
          ":zero": {"N": "0"},
          ":one": {"N": "1"},
          ":now": {"S.$": "$$.State.EnteredTime"}
        }
      },
      "ResultPath": "$.markFailedResult",
      "Next": "ReleaseLockOnError"
    },

    "ExecutePass3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${enrich_lambda_arn}",
        "Payload": {
          "pass_name": "pass3",
          "job_data.$": "$.job_data",
          "pass1_result.$": "$.pass1Result.extraction",
          "pass2_result.$": "$.pass2Result.inference",
          "execution_id.$": "$$.Execution.Name"
        }
      },
      "ResultPath": "$.pass3Result",
      "ResultSelector": {
        "statusCode.$": "$.Payload.statusCode",
        "analysis.$": "$.Payload.analysis",
        "raw_response.$": "$.Payload.raw_response",
        "model_id.$": "$.Payload.model_id"
      },
      "Next": "UpdatePass3Status",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException", "Lambda.Unknown"],
          "IntervalSeconds": 3,
          "MaxAttempts": 10,
          "BackoffRate": 1.5,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkPass3Failed"
        }
      ]
    },

    "UpdatePass3Status": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        },
        "UpdateExpression": "SET pass3 = :pass3Status, overallStatus = :completed, updatedAt = :now",
        "ExpressionAttributeValues": {
          ":pass3Status": {
            "M": {
              "status": {"S": "COMPLETED"},
              "completedAt": {"S.$": "$$.State.EnteredTime"},
              "executionId": {"S.$": "$$.Execution.Name"},
              "model": {"S.$": "$.pass3Result.model_id"}
            }
          },
          ":completed": {"S": "COMPLETED"},
          ":now": {"S.$": "$$.State.EnteredTime"}
        }
      },
      "ResultPath": "$.updatePass3Result",
      "Next": "ReleaseLock",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ReleaseLockOnError"
        }
      ]
    },

    "MarkPass3Failed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${status_table}",
        "Key": {
          "job_posting_id": {"S.$": "$.job_data.job_posting_id"}
        },
        "UpdateExpression": "SET pass3 = :pass3Status, overallStatus = :failed, retryCount = if_not_exists(retryCount, :zero) + :one, updatedAt = :now",
        "ExpressionAttributeValues": {
          ":pass3Status": {
            "M": {
              "status": {"S": "FAILED"},
              "failedAt": {"S.$": "$$.State.EnteredTime"},
              "error": {"S.$": "$.error.Cause"}
            }
          },
          ":failed": {"S": "FAILED"},
          ":zero": {"N": "0"},
          ":one": {"N": "1"},
          ":now": {"S.$": "$$.State.EnteredTime"}
        }
      },
      "ResultPath": "$.markFailedResult",
      "Next": "ReleaseLockOnError"
    },

    "ReleaseLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${semaphore_table}",
        "Key": {
          "LockName": {"S": "ProcessingLock"}
        },
        "UpdateExpression": "SET currentlockcount = currentlockcount - :one REMOVE #execId",
        "ConditionExpression": "attribute_exists(#execId) AND currentlockcount > :zero",
        "ExpressionAttributeNames": {
          "#execId.$": "$$.Execution.Name"
        },
        "ExpressionAttributeValues": {
          ":one": {"N": "1"},
          ":zero": {"N": "0"}
        }
      },
      "ResultPath": "$.releaseLockResult",
      "Next": "Success",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.releaseLockError",
          "Next": "Success"
        }
      ]
    },

    "ReleaseLockOnError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "${semaphore_table}",
        "Key": {
          "LockName": {"S": "ProcessingLock"}
        },
        "UpdateExpression": "SET currentlockcount = currentlockcount - :one REMOVE #execId",
        "ConditionExpression": "attribute_exists(#execId) AND currentlockcount > :zero",
        "ExpressionAttributeNames": {
          "#execId.$": "$$.Execution.Name"
        },
        "ExpressionAttributeValues": {
          ":one": {"N": "1"},
          ":zero": {"N": "0"}
        }
      },
      "ResultPath": "$.releaseLockResult",
      "Next": "Failure",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.releaseLockError",
          "Next": "Failure"
        }
      ]
    },

    "Success": {
      "Type": "Succeed"
    },

    "Failure": {
      "Type": "Fail",
      "Error": "ProcessingFailed",
      "Cause": "One or more passes failed during enrichment"
    }
  }
}
